 body{font-family: lato,raleway,tahoma !important;}
    .text-white{color: #fff !important;}
   li > a:hover, .orange{color: #0096FF !important;}
    .bgOrange{background:linear-gradient(to right,#0096FF,steelblue,white) !important;}
    hr{color:#0096FF;}
    footer .footer-bottom{line-height: 26px !important;}
.err{color:indianred;}
.login-box-body.sty1, .register-box-body.sty1{padding-top:10% !important;}
.register-box-msg{padding: 0 20px 5px 0px; !important;}
.cursive{font-family:cursive !important;}

/*#FFAB00*/

